.dropdown-component {
  .output {
    margin-top: 10px;
    font-size: 1rem;
  }

  .row {
    margin-top: 20px;

    .section {
      margin-bottom: 20px;
    }

    .title {
      font-size: 1rem;
      margin-bottom: 6px;
    }
  }
}
