<div class="ui-library-documentation-demo-wrapper">
  <h1 class="component-header">{{ header }}</h1>
  <p class="component-sub-header" *ngIf="subHeader">{{ subHeader }}</p>

  <div class="component-content">
    <code-section *ngIf="importSyntax" header="Import" [code]="importSyntax" />
    <code-section *ngIf="code && code.length" header="Syntax" [code]="code" />

    <div class="code-output" #output [ngClass]="{ hide: enableOutput }">
      <ng-content select="[output]"></ng-content>
    </div>

    <ng-container *ngIf="outputContent.length">
      <div class="output" *ngFor="let content of outputContent">
        <ng-container [ngTemplateOutlet]="content" />
      </div>
    </ng-container>

    <div class="code-doc" #ref [ngClass]="{ hide: enableDoc }">
      <ng-content select="[doc]"></ng-content>
    </div>

    <div class="code-doc" *ngIf="documentContent">
      <ng-container [ngTemplateOutlet]="documentContent" />
    </div>

    <ui-library-documentation-options-grid *ngIf="enableOptions" [options]="options" />
  </div>
</div>
