@import "../../../node_modules/grid-css/src/grid.scss";
@import "../../../node_modules/font-awesome/scss/font-awesome.scss";
@import "../../../node_modules/materialize-css/sass/materialize.scss";

@import "./lib/styles/fonts.scss";
@import "./lib/styles/variable.scss";

* {
  font-family: $font-regular;
  outline: 0;
}

.main-container {
  padding-top: $main-container-header-height;
}
