@import "../../../node_modules/grid-css/src/grid.scss";
@import "../../../node_modules/font-awesome/scss/font-awesome.scss";
@import "normalize.css";
@import "./lib/styles/normalize.scss";
@import "../../../node_modules/ngx-toastr/toastr.css";

@import "./lib/styles/fonts.scss";
@import "./lib/styles/variable.scss";
@import "./lib/styles/utility.scss";
@import "./lib/styles/table.scss";

* {
    font-family: $font-regular;
    outline: 0;
}

.main-container {
    padding-top: $main-container-header-height;
}

.overlay-container #toast-container {
    min-width: auto;
}