<div class="badge-component">
  <ui-library-documentation-demo-wrapper
    header="Buttons"
    subHeader="Button is an extension to standard button element with icons and theming."
    [code]="componentSyntax"
    [importSyntax]="importSyntax"
    [options]="options"
  >
    <ng-template tTemplate="output">
      <h2 class="title">Basic</h2>
      <p>Text to display on a button is defined with the <code>label</code> property.</p>
      <div class="row">
        <div class="seperator col-sm-12 col-md-6 col-lg-4">
          <h4 class="header">Primary Button</h4>
          <t-button label="Primary" type="primary" (click)="clickHandler()" />
        </div>
        <div class="seperator col-sm-12 col-md-6 col-lg-4">
          <h4 class="header">Secondary Button</h4>
          <t-button label="Secondary" type="secondary" />
        </div>
        <div class="seperator col-sm-12 col-md-6 col-lg-4">
          <h4 class="header">Link</h4>
          <t-button label="Submit" [link]="true" />
        </div>
        <div class="seperator col-sm-12 col-md-6 col-lg-4">
          <h4 class="header">Size</h4>
          <t-button label="Home" type="primary" size="large" />
        </div>
        <div class="seperator col-sm-12 col-md-6 col-lg-4">
          <h4 class="header">Disabled</h4>
          <t-button label="Disabled" type="primary" [disabled]="true" />
        </div>
        <div class="seperator col-sm-12 col-md-6 col-lg-4">
          <h4 class="header">Custom</h4>
          <t-button type="primary"> <i class="fa-solid fa-house"></i> custom </t-button>
        </div>
      </div>
    </ng-template>
  </ui-library-documentation-demo-wrapper>
</div>
