<div class="dialog-component">
  <ui-library-documentation-demo-wrapper
    header="Dialog Service"
    [options]="options"
  >
    <div output>
      <t-button class="btn-space-right" (click)="openConfirmationDialog()"
        >Open Confirmation Dialog</t-button
      >
      <t-button class="btn-space-right" (click)="openDeleteDialog()"
        >Open Delete Dialog</t-button
      >
      <t-button (click)="openDynamicDialog()">Open Dynamic Dialog</t-button>
    </div>
  </ui-library-documentation-demo-wrapper>
</div>
