<div class="color-pallet">
  <div class="color-code primary">
    <p> PRIMARY </p>
    <div class="palet"></div>
    <p> BLUE <br>#0069B1</p>
  </div>
  <div class="color-code primaryhover">
    <p> PRIMARY HOVER </p>
    <div class="palet"></div>
    <p> bluehover <br>#003F81</p>
  </div>
  <div class="color-code secondary ">
    <p> SECONDARY </p>
    <div class="palet"></div>
    <p> GREEN <br>#82B20A</p>
  </div>
  <div class="color-code secondaryhover">
    <p> SECONDARY HOVER</p>
    <div class="palet"></div>
    <p> greenhover<br>#508200</p>
  </div>
  <div class="color-code informational">
    <p> INFORMATIONAL </p>
    <div class="palet"></div>
    <p> LIGHT <br>#00A8E4</p>
  </div>
  <div class="color-code informationalhover">
    <p> INFORMATIONAL HOVER</p>
    <div class="palet"></div>
    <p> lighthover <br>#0079B2</p>
  </div>
  <div class="color-code attention">
    <p> ATTENTION </p>
    <div class="palet"></div>
    <p> ORANGE <br>#FFA81E</p>
  </div>
  <div class="color-code attentionhover">
    <p> ATTENTION HOVER</p>
    <div class="palet"></div>
    <p> orangehover <br>#EE8000</p>
  </div>
  <div class="color-code error ">
    <p> ERROR</p>
    <div class="palet"></div>
    <p> PINK <br>#D20F55</p>
  </div>
  <div class="color-code errorhover ">
    <p> ERROR HOVER</p>
    <div class="palet"></div>
    <p> pinkhover <br>#9A002D</p>
  </div>
  <div class="color-code accent1 ">
    <p> ACCENT1 </p>
    <div class="palet"></div>
    <p> DARK <br>#283764</p>
  </div>
  <div class="color-code accent1hover ">
    <p> ACCENT1 HOVER </p>
    <div class="palet"></div>
    <p> darkhover<br>#001239</p>
  </div>
  <div class="color-code accent2 ">
    <p> ACCENT2 </p>
    <div class="palet"></div>
    <p> TEAL <br>#128094</p>
  </div>
  <div class="color-code accent2hover ">
    <p> ACCENT2 HOVER </p>
    <div class="palet"></div>
    <p> tealhover<br>#005366</p>
  </div>
  <div class="color-code datavisual1 ">
    <p> DATA VISUAL1 </p>
    <div class="palet"></div>
    <p> GOLD <br>#FFC100</p>
  </div>
  <div class="color-code datavisual1hover ">
    <p> DATA VISUAL1 HOVER </p>
    <div class="palet"></div>
    <p> goldhover<br>#C79100</p>
  </div>
  <div class="color-code datavisual2 ">
    <p> DATA VISUAL2 </p>
    <div class="palet"></div>
    <p> DARK <br>#EE8000</p>
  </div>
  <div class="color-code datavisual2hover ">
    <p> DATA VISUAL2 HOVER </p>
    <div class="palet"></div>
    <p> darkhover<br>#B56201</p>
  </div>
  <div class="color-code datavisual3 ">
    <p> DATA VISUAL3 </p>
    <div class="palet"></div>
    <p> PURPLE <br>#641980</p>
  </div>
  <div class="color-code datavisual3hover ">
    <p> DATA VISUAL3 HOVER </p>
    <div class="palet"></div>
    <p> purplehover<br>#3E0055</p>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="color-code disabled ">
    <p> DISABLED</p>
    <div class="palet"></div>
    <p> Disabled <br>#F2F2F2</p>
  </div>
  <div class="color-code light ">
    <p> LIGHT</p>
    <div class="palet"></div>
    <p> Light <br>#DFDFDF</p>
  </div>
  <div class="color-code medium ">
    <P> MEDIUM</P>
    <div class="palet"></div>
    <p> medium <br>#B2B2B2</p>
  </div>
  <div class="color-code dark ">
    <p> DARK</p>
    <div class="palet"></div>
    <p> dark <br>#7D7D7D</p>
  </div>
  <div class="color-code textstyle ">
    <p> TEXTSTYLE</p>
    <div class="palet"></div>
    <p> darker <br>#414141</p>
  </div>
  <div class="color-code background ">
    <p> Background</p>
    <div class="palet"></div>
    <p> background <br>#F2F2F2</p>
  </div>
  <div class="color-code white ">
    <p> WHITE</p>
    <div class="palet"></div>
    <p> white<br>#FFFFFF</p>
  </div>
  <div class="color-code black ">
    <p> BLACK</p>
    <div class="palet"></div>
    <p> Black<br>#000000</p>
  </div>
</div>
