<ui-library-documentation-demo-wrapper class="application-color-code" header="Color Pallet">
  <ng-template tTemplate="output">
    <div class="color-pallet">
      <div class="color-pallet-section" *ngFor="let pallet of colorPallet">
        <ng-container *ngFor="let color of pallet.pallets">
          <div class="color-code">
            <p>{{ color.name }}</p>
            <div class="palet" [ngStyle]="{ 'background-color': color.colorHash }"></div>
            <p>
              {{ color.variableName }} <br />
              <span style="padding-top: 8px; display: inline-block">{{ color.colorHash }}</span>
            </p>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-template>
</ui-library-documentation-demo-wrapper>
