@import 'variable.scss';

.application-color-code {
  --color-primary: #{$color-primary};
  --color-primary-hover: #{$color-primary-hover};
  --color-secondary: #{$color-secondary};
  --color-secondary-hover: #{$color-secondary-hover};
  --color-informational: #{$color-informational};
  --color-informational-hover: #{$color-informational-hover};
  --color-attention: #{$color-attention};
  --color-attention-hover: #{$color-attention-hover};
  --color-error: #{$color-error};
  --color-error-hover: #{$color-error-hover};
}

.color-pallet {
  .color-pallet-section {
    display: flex;
    flex-flow: wrap;
  }

  .color-code {
    width: 8em;

    .palet {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin: 0 auto;
    }

    p {
      text-align: center;
    }
  }

  .disabled .palet {
    background: $color-disabled;
  }

  .light .palet {
    background: $color-light;
  }

  .medium .palet {
    background: $color-medium;
  }

  .dark .palet {
    background: $color-dark;
  }

  .textstyle .palet {
    background: $color-textstyle;
  }

  .background .palet {
    background: $color-background;
  }

  .white {
    background-color: transparent !important;

    .palet {
      background: $color-white;
    }
  }

  .black {
    background-color: transparent !important;

    .palet {
      background: $color-black;
    }
  }
}
