<div class="badge-component">
  <demo-wrapper header="Badge">
    <div content>
      <div class="pre">
        <div class="markup">
          <span class="label">html</span>
        </div>
        <div class="code">
          {{compSyntax}}
        </div>
      </div>
      <div class="pre">
        <div class="markup">
          <span class="label">Output</span>
        </div>
        <div class="code">
          <t-badge badge="fa-home"></t-badge>
        </div>
      </div>
      <div class="pre">
        <div class="markup">
          <span class="label">Explanation</span>
        </div>
        <div class="code">
          Component <b>t-badge</b> accepts badge as a string. Badge passed to the
          component is class name from font-awesome library. Please refer the <a
            href="https://fontawesome.com/v4.7.0/icons/" target="_blank">link</a> to get
          icons.
        </div>
      </div>
    </div>
  </demo-wrapper>
</div>