<div class="utility-page">
  <ui-library-documentation-demo-wrapper header="Utility">
    <ng-template tTemplate="document">
      <p>
        Please refer to
        <a href="https://nimjetushar.github.io/Utils" target="_blank">link</a>
        for various provided utilities.
      </p>

      <div class="detect-browser">
        <t-button label="Detect Browser" type="primary" (click)="detecBrowserHandler()" />
        <div class="device-detail" *ngIf="deviceDetail">
          <span class="title">Device:</span><span>{{ deviceDetail.device?.type }}</span>
          <br />
          <span class="title">Browser:</span><span>{{ deviceDetail.client?.name }}</span>
          <br />
          <span class="title">Version:</span><span>{{ deviceDetail.client?.version }}</span>
        </div>
      </div>
    </ng-template>
  </ui-library-documentation-demo-wrapper>
</div>
