@import 'variable.scss';
$border-color-inside-doc: #d7d2d2;

.toast-demo-component {
  .t-button button {
    margin: 0.5rem 1rem;
  }

  .success {
    button {
      background-color: $color-success;

      &:hover {
        background-color: $color-successhover;
      }
    }
  }

  .error {
    button {
      background-color: $color-error;

      &:hover {
        background-color: $color-errorhover;
      }
    }
  }

  .info {
    button {
      background-color: $color-informational;

      &:hover {
        background-color: $color-informationalhover;
      }
    }
  }

  .warning {
    button {
      background-color: $color-attention;

      &:hover {
        background-color: $color-attentionhover;
      }
    }
  }

  .toast-types {
    border-top: 1px solid $border-color-inside-doc;
    margin-top: rem(20);
    padding-top: rem(20);
  }
}
