<div class="badge-component">
  <ui-library-documentation-demo-wrapper header="Badge" [code]="compSyntax" [options]="options">
    <div output>
      <div>
        <t-badge badge="pi-home"></t-badge>
      </div>
      <div>
        <t-badge badge="pi-thumbs-up-fill"></t-badge>
      </div>
    </div>
    <div doc>
      Badge passed to the component is class name from fontawesome library. Please refer the
      <a href="https://fontawesome.com/search?m=free&o=r" target="_blank">link</a>
      to get icons.
    </div>
  </ui-library-documentation-demo-wrapper>
</div>
