<div class="checkbox-component">
  <ui-library-documentation-demo-wrapper header="Checkbox" [code]="compSyntax" [options]="options">
    <ng-template tTemplate="output">
      <h2 class="title">Basic</h2>
      <div class="output-content">
        <div style="display: flex; align-items: center; gap: 2em">
          <t-checkbox
            label="Checkbox"
            name="checkbox"
            [binary]="true"
            [(ngModel)]="modelValue"
            (ngModelChange)="modelChangeHandler($event)"
          />
          <span>Output: {{ modelValue }}</span>
        </div>
        <t-checkbox label="disabled checkbox" name="checkbox" [disabled]="true" />
      </div>
    </ng-template>
  </ui-library-documentation-demo-wrapper>
</div>
