@import 'variable.scss';

$header-color: #ee6e73;

.code-wrapper {
  padding: 1.25em;
  margin: 0 0 1.5em;
  color: #152935;
  border: 1px solid #cbced2;
  border-radius: 4px;
  background-color: #fff;
}

.ui-library-documentation-demo-wrapper {
  .component-header {
    color: $header-color;
    margin-bottom: 0.4em;
  }

  h6.header {
    color: $header-color;
  }

  .import-section,
  .code-section {
    h2 {
      margin: 0 0 0.4em;
    }
  }

  .import-content,
  .code-content {
    @extend .code-wrapper;
  }

  .code-sample,
  .import-sample {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 1em;
    border-radius: 4px;
    background: #000;

    pre {
      display: flex;
      margin: 0;
    }

    code {
      white-space: pre-line;
    }
  }

  .code-output {
    @extend .code-wrapper;
  }

  .output {
    .output-content {
      @extend .code-wrapper;
    }
    // this is used inside output section via Viewencapsulation
    h2.title {
      margin: 0 0 0.4em;
    }

    p {
      code {
        background: #98dfee;
        padding: 1px 4px;
        border-radius: 4px;
        font-size: 0.9em;
      }
    }
    // till here
  }

  .code-doc {
    @extend .code-wrapper;
    border-left: 3px solid #f11722;
    word-break: break-word;
  }
}
