@import 'variable.scss';

$code-spacing: rem(35);
$header-color: #ee6e73;

.code-wrapper {
  display: block;
  width: 100%;
  min-height: rem(30);
  padding: rem(25);
  margin: 1.5rem 0;
  color: #152935;
  border: 1px solid #cbced2;
  font-size: rem(18);
  border-radius: 5px;
}

.ui-library-documentation-demo-wrapper {
  p {
    line-height: 1.5;
    margin: 0 0 1rem;
  }

  .component-header {
    color: $header-color;
    font-weight: 300;
    font-size: rem(45);
    line-height: 110%;
    margin: rem(20) 0 rem(10) 0;
  }

  h6.header {
    color: $header-color;
  }

  .seperator {
    margin: rem(10) 0;
  }

  .import-section {
    margin: 1.5em 0;
    h2 {
      font-size: rem(28);
      font-weight: 500;
      margin-top: 0;
    }
  }

  .code-sample,
  .import-sample {
    @extend .code-wrapper;
    position: relative;
    width: 100%;
    word-break: break-word;
    margin: 0;
    background: #000;
    padding: 1em 0;

    pre {
      display: flex;
      margin: 0.5em 2em;
    }

    .copy {
      position: absolute;
      top: 18px;
      right: 10px;
      color: #fff;
      cursor: pointer;
    }

    code {
      white-space: pre-line;
      font-size: rem(16);
    }
  }

  .code-output {
    @extend .code-wrapper;
  }

  .code-doc {
    @extend .code-wrapper;
    border-left: 3px solid #f11722;
    word-break: break-word;
  }

  .component-content > div {
    width: 100%;
  }
}
