<div class="ui-library-documentation-demo-wrapper">
  <h1 class="component-header">{{ header }}</h1>
  <p class="component-sub-header" *ngIf="subHeader">{{ subHeader }}</p>

  <div class="component-content">
    <div class="import-section" *ngIf="importSyntax">
      <h2>Import</h2>
      <div class="import-sample">
        <ui-library-documentation-copy [content]="importSyntax" />
        <pre>
            <code class="prettyprint lang-html">{{importSyntax}}</code>
        </pre>
      </div>
    </div>

    <div class="code-section" *ngIf="code?.length">
      <h2>Syntax</h2>
      <div class="code-sample">
        <ui-library-documentation-copy [content]="code" />
        <pre *ngFor="let c of code">
          <code class="prettyprint lang-html">{{c}}</code>
      </pre>
      </div>
    </div>

    <div class="code-output" #output [ngClass]="{ hide: enableOutput }">
      <ng-content select="[output]"></ng-content>
    </div>

    <ng-container *ngIf="outputContent.length">
      <div class="code-output" *ngFor="let content of outputContent">
        <ng-container [ngTemplateOutlet]="content" />
      </div>
    </ng-container>

    <div class="code-doc" #ref [ngClass]="{ hide: enableDoc }">
      <ng-content select="[doc]"></ng-content>
    </div>

    <ui-library-documentation-options-grid *ngIf="enableOptions" [options]="options" />
  </div>
</div>
