<div class="alert-component">
  <ui-library-documentation-demo-wrapper header="Alert" [code]="compSyntax" [options]="options">
    <ng-template tTemplate="output">
      <div class="spacing">
        <t-alert type="success" title="Success" message="message........" />
      </div>
      <div class="spacing">
        <t-alert type="error" title="Title error" message="message........" />
      </div>
      <div class="spacing">
        <t-alert type="info" title="Title info" message="message........" />
      </div>
      <div class="spacing">
        <t-alert type="warn" title="Title warn" message="message........" />
      </div>
    </ng-template>
    <ng-template tTemplate="output">
      <div class="spacing" *ngIf="!hideAlert">
        <t-alert
          type="info"
          title="Title Info"
          message="message........"
          [enableClose]="true"
          (onCloseClick)="onClose($event)"
        />
      </div>
      <div class="spacing">
        <t-alert type="warn" title="Title warn" message="message........" [hideIcon]="true" />
      </div>
      <div class="spacing">
        <div>Alert with html / custom content</div>
        <t-alert type="info" title="Custom alert" [enableClose]="true" (onCloseClick)="onClose($event)">
          <p>
            <b>message in bold</b>
          </p>
        </t-alert>
      </div>
      <div class="spacing dynamic-alert">
        <div>Select Alert type from dropdown:-</div>
        <div style="margin-bottom: 14px">
          <t-dropdown placeholder="Select option" [options]="dropdownOption" [(ngModel)]="dropdownValue" />
        </div>
        <div>
          <t-alert [type]="dropdownValue" title="Title {{ dropdownValue }}" message="message........" />
        </div>
      </div>
    </ng-template>
  </ui-library-documentation-demo-wrapper>
</div>
