@import '../demo-wrapper/demo-wrapper.component.scss';

.code-options {
  @extend .code-wrapper;

  .header {
    font-size: rem(22);
    margin-bottom: rem(10);
  }

  .table {
    overflow-x: auto;

    thead {
      border-bottom: 2px solid #98999a;
    }

    table .desc td {
      word-break: break-word;
    }

    tr:last-child {
      border-color: #98999a;
    }
  }
}
