@import '../demo-wrapper/demo-wrapper.component.scss';

.code-options {
  @extend .code-wrapper;

  .header {
    margin: 0 0 0.4em;
  }

  .table {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    overflow-x: auto;

    thead {
      border-bottom: 2px solid #98999a;
    }

    table .desc td {
      word-break: break-word;
    }

    tr:last-child {
      border-color: #98999a;
    }
  }
}
