<div class="setup-page">
  <div class="setup">
    <demo-wrapper header="Setup">
      <div content>
          <p class="caption">
              Download or clone the repo from
              <a href="https://github.com/nimjetushar/ui-lib.git">https://github.com/nimjetushar/ui-lib.git</a>.
              Follow the process mentioned in README.md and create the build for the UI library
              and import the package into required project and enjoy the features.
            </p>
      </div>
    </demo-wrapper>
  </div>
</div>
