<div class="setup-page">
  <ui-library-documentation-demo-wrapper header="Setup">
    <ng-template tTemplate="document">
      <h2 style="margin-top: 0"># Install Library</h2>
      <code class="code">npm i @fourjs/ng-library --save</code>
      <p># Install peer dependencies.</p>
      <code class="code">npm install @angular/cdk@{{ angularCdkDependency }} --save</code>
      <p>Import NgLibrary into @NgModule and also import dependent modules</p>
      <ul class="install-dependency">
        <li>BrowserAnimationsModule</li>
        <li>HttpClientModule</li>
        <li>FormsModule</li>
      </ul>
      <pre class="prettyprint lang-html">
        <code>{{syntax}}</code>
      </pre>
    </ng-template>
  </ui-library-documentation-demo-wrapper>
</div>
